.card {
    min-height: 480px;
}

.card-body {
    padding: 0;
    margin-bottom: 2px;
}

.card-img {
    
    height: 200px;
}

.expand {
    text-decoration: none;
    color:inherit;
}

.card-title {
    color: #323333;
}

.expand-link {
    text-decoration: none;
    color: green;
    font-size: 12px;
    font-weight: bold;
}

.list-group-flush {
    font-size: 12px;
}

.span {
    color: grey;
}